* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr 1.25fr 3.5fr 1.25fr;
    grid-template-areas: 
    'hd hd'
    'nv nv'
    'mn as'
    'ft ft';
    gap: 5px;
}

header {
    display: flex;
    grid-area: hd;
    background-color: #2ecc71;
    align-items: center;
    justify-content: center;
    color: white;
}

nav {
    display: flex;
    grid-area: nv;
    background-color: gray;
    justify-content: space-evenly;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    grid-area: mn;
    background-color: white;
    color: black;
    overflow: auto;
    align-content: start;
    padding: 30px;
}

aside {
    display: flex;
    flex-direction: column;
    grid-area: as;
    background-color: gray;
    color: white;
    justify-content: space-evenly;
    padding: 0 10px 0 10px;
    border-radius: 24px 0 0 24px;
}

footer {
    display: flex;
    grid-area: ft;
    background-color: #2ecc71;
    align-items: center;
    color: white;
    justify-content: center;
}

a,#namn-hemsida {
    text-decoration: none;
    color: white;
    font-size: x-large;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}


#first-h2 {
    margin: 20px 0 -10px 0;
}

h1 {
    margin: 0 0 10px 0;
}

h2,h3 {
    margin: 20px 0 10px 0;
}

ul {
    margin: 20px;
}

#main-i p {
    margin-right: 200px;
}

.center {
    justify-self: center;
}

#slut-text{
    margin-top: 15px;
}

.rel-links {
    margin: 60px 0 60px 0;
}

aside a, nav a, li{
    color: black;
}

main::-webkit-scrollbar {
    width: 8px;
}

main::-webkit-scrollbar-track {
    background: transparent;
}

main::-webkit-scrollbar-thumb {
    background-color: rgb(128, 128, 128, 0.5);
    border-radius: 4px;
}

#namn-hemsida:hover {
    text-decoration: none;
    color: white;
}

#body-e {
    grid-template-columns: 100vw;
    grid-template-rows: 0.6fr 0.5fr 4.5fr 0.5fr;
    grid-template-areas: 
    'hd'
    'nv'
    'mn'
    'ft';
}

.cards {
    display: flex;
    width: 300px;
    height: 400px;
    background-color: gray;
    border-radius: 24px;
    margin: 20px;
    flex-direction: row;
}

.cards-a {
    display: flex;
    width: 500px;
    height: 350px;
    background-color: gray;
    border-radius: 24px;
    margin: 20px;
    padding: 10px 30px 20px 30px;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

figure {
    display: flex;
    width: 300px;
    height: 400px;
    margin: 20px;
    flex-direction: column;
    align-items: center;
}

#main-e {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}


img {
    width: 220px;
    height: 300px;
    border-radius: 16px;
}

figcaption {
    margin: 20px;
    font-size: 21px;
    font-weight: 900;
}

.button {
    display: flex;
    min-width: 460px;
    min-height: 50px;
    background-color: white;
    border-radius: 20px;
    justify-content: center;
    box-shadow: 0px 10px 20px 0px black;
    padding-top: 16px;
    align-content: center;
    position:sticky;
    left: auto;
    top: 70%;
}

.cards-a p {
    margin-bottom: 10px;
}

.cards-a h1 {
    margin-bottom: -10px;
}