* {
    margin: 0;
    font-family: "Oswald", sans-serif;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 2fr 1fr 10fr 1fr;
    grid-template-areas:
        'hd hd'
        'nv nv'
        'mn as'
        'ft ft';
    gap: 5px;
}

header {
    display: flex;
    grid-area: hd;
    background-color: #2ecc71;
    align-items: center;
    justify-content: center;
    color: white;
}

nav {
    display: flex;
    flex-direction: row;
    grid-area: nv;
    background-color: #57a679;
    justify-content: space-evenly;
    align-content: center;
}

main {
    display: flex;
    flex-direction: column;
    grid-area: mn;
    background-color: white;
    color: black;
    overflow: hidden scroll;
    align-content: start;
    padding: 0 20px 0 20px;
}

aside {
    display: flex;
    flex-direction: column;
    grid-area: as;
    background-color: #57a679;
    color: white;
    border-radius: 24px 0 0 24px;
    justify-content: space-evenly;
    align-items: start;
    padding-left: 70px;
}

footer {
    display: flex;
    grid-area: ft;
    background-color: #2ecc71;
    align-items: center;
    color: white;
    justify-content: center;
}

a,
#namn-hemsida {
    text-decoration: none;
    color: white;
    font-size: x-large;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}


#first-h2 {
    margin: 20px 0 -10px 0;
}

h2, h3 {
    margin: 20px 0 10px 0;
}

main ul{
    margin: 10px 0 10px -20px;
}

#main-i p, #main-c p {
    margin-right: 200px;
}

.slut-text {
    margin-top: 15px;
    font-weight: bold;
}

aside a, nav a {
    color: white;
    margin: 0;
}

main::-webkit-scrollbar {
    width: 8px;
}

main::-webkit-scrollbar-track {
    background: transparent;
}

main::-webkit-scrollbar-thumb {
    background-color: rgb(87, 166, 121, 0.5);
    border-radius: 4px;
}

#namn-hemsida:hover {
    text-decoration: none;
    color: white;
}

#body-e {
    grid-template-columns: 100vw;
    grid-template-areas:
        'hd'
        'nv'
        'mn'
        'ft';
}

.cards {
    display: flex;
    width: 300px;
    height: 400px;
    background-color: #57a679;
    border-radius: 24px;
    margin: 20px;
    flex-direction: row;
}

.cards-a {
    display: flex;
    width: 500px;
    height: 350px;
    background-color: #57a679;
    border-radius: 24px;
    margin: 20px;
    padding: 10px 30px 20px 30px;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    color: white;
}

figure {
    display: flex;
    width: 300px;
    height: 400px;
    margin: 20px;
    flex-direction: column;
    align-items: center;
}

#main-e {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}


img {
    width: 220px;
    height: 300px;
    border-radius: 16px;
}

figcaption {
    margin: 20px;
    font-size: 21px;
    font-weight: 900;
    color: white;
}

.button {
    display: flex;
    min-width: 460px;
    min-height: 50px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 10px 20px 0px black;
    position: sticky;
    flex-direction: row;
    justify-content: center;
    top: 75%;
    color: black;
}

.cards-a p {
    margin-bottom: 10px;
}

.cards-a h1 {
    margin-bottom: -10px;
}

#aside-c {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: start;
}

#aside-c h2 {
    margin-bottom: -5px;
}
