* {
    margin: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr 1fr 4fr 0.75fr;
    grid-template-areas: 
    'hd hd'
    'nv nv'
    'mn as'
    'ft ft';
    gap: 5px;
}

header {
    display: flex;
    grid-area: hd;
    background-color: #2ecc71;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: 0px 20px 20px 0px gray;
}

nav {
    display: flex;
    grid-area: nv;
    background-color: #2ecc71;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 20px 20px 0px gray;
}

main {
    display: flex;
    flex-direction: column;
    grid-area: mn;
    background-color: #2ecc71;
    box-shadow: 20px 20px 20px 20px gray;
    color: white;
    overflow: auto;
    align-items: center
    justify-content: start;
    padding: 20px;
}

aside {
    display: flex;
    flex-direction: column;
    grid-area: as;
    background-color: #2ecc71;
    box-shadow: 0px 20px 20px 0px gray;
    color: white;
    justify-content: space-evenly;
    padding: 0 10px 0 10px;
}

footer {
    display: flex;
    grid-area: ft;
    background-color: #2ecc71;
    box-shadow: 0px 20px 20px 0px gray;
    align-items: center;
    color: white;
    justify-content: center;
}

a,#namn-hemsida {
    text-decoration: none;
    color: white;
    font-size: x-large;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
    color: gray;
}

#first-h2 {
    margin: 20px 0 -10px 0;
}

h1 {
    margin: 0 0 10px 0;
}

h2,h3 {
    margin: 20px 0 10px 0;
}

ul, {
    margin: 20px;
}

#slut-text{
    margin-top: 15px;
}

.rel-links {
    margin: 60px 0 60px 0;
}

main::-webkit-scrollbar {
    width: 8px;
}

main::-webkit-scrollbar-track {
    background: transparent;
}

main::-webkit-scrollbar-thumb {
    background-color: #57a679;
    border-radius: 4px;
}

#namn-hemsida:hover {
    text-decoration: none;
    color: white;
}